@model UserListView
@{
	ViewData["Title"] = "User Home Page";
}

<div class="text-center">
	<div class="jumbotron">
		<h2>Share your lists!</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Instructions</h3>
			<p>
				Here you can send a friends request to other users so you can share lists with them!
			</p>
		</div>
		<div class="col-md-4">
			<h3>Send a friend request!</h3>
			@foreach (var item in Model.userList)
			{
				<span>@Html.DisplayFor(modelItem => item.Email)</span> <a href='javascript: void (0);' onclick="addFriend('@item.Email')">Add</a><br />
			}

		</div>
		<div class="col-md-4">
			<h5>People you wish to befriend.</h5> <br />
			<div id="addedFriends"></div>
		</div>
	</div>
	<div class="form-group">
		<input type="button" value="Send friend requests" onclick="submitForm()" class="btn btn-primary" />
	</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script type="text/javascript" language="javascript">
	var nameArr = [];
	var counter = 0;
	function addFriend(email) {
		console.log("hep2: ", email);

		
		nameArr.push(email);

		$("#addedFriends").append(email + "<a href='javascript: void (0);' onclick='removeItem(" + counter + ");''> remove </a>" + "<br>");
		counter++;
		console.table(nameArr);

	}
	function removeItem(c) {
		console.log("remove index " + c);
		itemArr.splice(c, 1);
		console.table(itemArr);
		document.getElementById("addedItems").innerHTML = "";
		counter = 0;

		itemArr.forEach((i) => {
			$("#addedItems").append(i + "<a href='javascript: void (0);' onclick='removeItem(" + counter + ");''> remove </a>" + "<br>");
			counter++;
		})
	}

	function submitForm() {
		$.ajax({
			type: "POST",
			url: '/User/AddFriends',
			data: { friendlist: JSON.stringify(nameArr) },
			success: function (data) {
				alert("Success");
			},
			failure: function (errMsg) {
				alert(errMsg);
			}
		});
	}
</script>
