@{
    ViewData["Title"] = "User Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1>The default view for users</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Instructions</h2>
            <p>
               How to manage your shopping lists instructions here.
            </p>
        </div>
        <div class="col-md-4">
            <h2>The list here</h2>

        </div>
    </div>
</div>
