@model UserListView
@{
	ViewData["Title"] = "User Home Page";
}

<div class="text-center">
	<div class="jumbotron">
		<h1>The default view for users</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Instructions</h2>
			<p>
				How to manage your shopping lists instructions here.
			</p>
		</div>
		<div class="col-md-4">
			<h2>List of users you can share your list with</h2>
			@foreach (var item in Model.userList)
			{
				<span>@Html.DisplayFor(modelItem => item.Email)</span><br />

				@*<td>
				<a asp-action="Edit" asp-route-id="@item.ListID">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.ListID">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.ListID">Delete</a>
			</td>*@
			}

		</div>
	</div>
</div>
