@model UserListView
@{
	ViewData["Title"] = "User Home Page";
}

<div class="text-center">
	<div class="jumbotron">
		<h2>Share your lists!</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Instructions</h3>
			<p>
				How to manage your shopping lists instructions here.
			</p>
		</div>
		<div class="col-md-4">
			<h3>List of users you can share your list with</h3>
			@foreach (var item in Model.userList)
			{
				<span>@Html.DisplayFor(modelItem => item.Email)</span> <a asp-action="Share" asp-route-id="@item.Id">Share</a><br />
			}

		</div>
	</div>
</div>
