@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1>Reino's shopping list app</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>The application</h2>
            <p>
               This application allowes users to create, save and share shopping lists. It is built with .NET core MVC.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>You just need to register and sign in!</p>
        </div>
    </div>
</div>
