@model List<FriendModel>
<table class="table-bordered">
	<tr>
		<th>
			PositionId
		</th>
		<th>
			PositionName
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@item.UserEmail
			</td>

		</tr>
	}
</table>